body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

header {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px;
}

h1 {
    margin: 0;
}

button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.day-container {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2C3E50;
    border-bottom: 2px solid #2C3E50;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

/* Modo oscuro */
.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .day-container {
    background: #2C3E50;
    color: white;
}

.dark-mode h2 {
    border-bottom: 2px solid white;
    color: white;
}
